release
*.[oa]
*.pts
*.prt
*.h[12]
gfx/*.lmp
maps/*.bsp
*.wad
*.pak
qwdefs.h
qwprogs.dat

# util binaries
utils/bin
utils/qutils/bin

# all generated models and sprites
progs/armor.mdl
progs/b_g_key.mdl
progs/b_s_key.mdl
progs/backpack.mdl
progs/bolt.mdl
progs/bolt2.mdl
progs/bolt3.mdl
progs/eyes.mdl
progs/flame.mdl
progs/flame2.mdl
progs/gib1.mdl
progs/gib2.mdl
progs/gib3.mdl
progs/h_player.mdl
progs/invisibl.mdl
progs/lavaball.mdl
progs/quaddama.mdl
progs/s_bubble.spr
progs/s_explod.spr
progs/suit.mdl
progs/zom_gib.mdl
